.navContainer {
  background: linear-gradient(
    -45deg,
    var(--primary) 50%,
    var(--primaryDark) 50%
  );
  font-size: 0.75em;
  height: 12em;
  padding: 1em;
}

.contactWrapper {
  margin-top: -7em;
  padding: 1em;
}

.contactContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.avatar {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.avatarWrapper {
  border-radius: 50%;
  height: 12em;
  overflow: hidden;
  width: 12em;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: flex-end;
}

.nav a {
  color: white;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.title {
  text-align: center;
}

.title span {
  font-weight: 900;
}

.subtitle {
  color: var(--secondary);
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase;
}

.contactInfoContainer {
  padding: 1em 0;
}

@media screen and (min-width: 960px) {
  .navContainer {
    font-size: 1em;
  }

  .nav div:not(:last-child) {
    margin-right: 1em;
    position: relative;
  }
}
