.grid {
  display: grid;
  gap: 0.5em;
}

.experience {
  grid-template-areas:
    "logo company location"
    "logo title dates"
    "logo duties duties";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;
}

.contributions {
  grid-template-areas:
    "logo company"
    "logo version";
  grid-template-columns: auto 1fr;
}
