.contributions {
  border: 1px solid lightgray;
  border-radius: 1em;
}

.contribution:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

.contribution:hover {
  background: rgba(127, 127, 127, 0.05);
}

.logo {
  align-content: center;
}
