.button {
  background: var(--secondary);
  border-radius: 50%;
  border: none;
  bottom: 2rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 50px;
  position: fixed;
  right: 2rem;
  width: 50px;
}

@media print {
  .button {
    display: none;
  }
}
