@import "bulma/sass/utilities/_all";
@import "bulma/sass/helpers/spacing";
@import "bulma/sass/helpers/color";

.category {
  @include widescreen {
    display: flex;
  }
}

.categoryName {
  @extend .mb-2;

  @include widescreen {
    margin-bottom: 0;
  }
}

.section {
  background-color: $white-ter;
}

body:global(.dark) {
  .section {
    background-color: $black-bis;
    color: $white-ter;
  }

  .card {
    background-color: $black-bis;
    border: 2px solid $white;
    color: $white-ter;
  }
}
