.contactWrapper {
  padding: 2em;
  background-color: var(--dark);
  color: var(--text__light);
  text-align: center;
}

@media screen and (min-width: 960px) {
  .contactContainer {
    max-width: 960px;
    width: 100%;
    margin: auto;
  }
}

.contactList {
  display: flex;
  justify-content: center;
}

.contactList > a:not(:last-child) {
  margin-right: 1em;
}

.contactList a {
  color: var(--text__medium);
}

.contactList a:hover {
  color: var(--text__light);
}
