@import "bulma/sass/helpers/color";

.company {
  grid-area: company;
}

.version {
  grid-area: version;
}

.logo {
  grid-area: logo;
}

body:global(.dark) {
  .box {
    background-color: $black-bis;
    color: $white-ter;
  }
}
