.container {
  display: flex;
  flex-wrap: wrap;
}

.container.md {
  display: block;
}

.item {
  padding: 0.25em;
}

.md {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}

@media screen and (min-width: 960px) {
  .item.md {
    flex-grow: 1;
    flex-basis: 0;
  }

  .container.md {
    display: flex;
  }
}
