.listItem {
  padding: 1em;
}

.company {
  font-weight: 500;
}

.location {
  color: #f50057;
}

.title {
  font-variant: small-caps;
  font-weight: 500;
  color: var(--text__medium);
}

.dates {
  font-variant: italic;
  font-size: 0.9em;
}

.dates,
.location {
  text-align: right;
}

.logo {
  max-width: 32px;
  width: 100%;
}

.dutyIcon {
  width: 1.25em;
  flex: 0 0 auto;
}

.dutyIcon svg {
  width: 100%;
}

.dutyText {
  flex: 1 1 auto;
}

.dutyContainer {
  display: flex;
  flex-wrap: nowrap !important;
}

.dutyContainer > *:not(:last-child) {
  margin-right: 0.5em;
}
