@import "bulma/sass/helpers/color";

.card:hover {
  cursor: pointer;
  background-color: $info;
}

body:global(.dark) {
  .card {
    background-color: $black-bis;

    &:hover {
      background-color: $info-dark;
    }
  }
}
