.aboutWrapper {
  padding: 1em;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
}

.aboutText {
  order: 2;
  padding: 1em;
  border-left: 0.5em solid var(--secondary);
}

.aboutText p {
  line-height: 1.5;
}

.aboutImageWrapper {
  text-align: center;
}

.aboutImage {
  max-width: 360px;
  width: 100%;
}

@media screen and (min-width: 960px) {
  .aboutContainer {
    flex-direction: row;
  }

  .aboutText {
    order: unset;
  }

  .aboutImage {
    width: auto;
  }
}
